.information {
  display: flex;
  flex-direction: column;
}

.information-list {
  margin: 1rem 1rem 1rem 2rem;
  width: 100%;
}
.information-grid {
  height: 61%;
  padding: 0rem 2rem 1.5rem 2rem;
}

@media (max-width: 768px) {
  .information-list {
    margin: 1rem 1rem 1rem 1rem;
  }
}