.image-container-list .image{
  width: 20.5rem;
  height: 10rem;
  margin: 1rem 0 1rem 1rem;
}
.image-container-grid .image{
  width: 20rem;
  height: 10rem;
}
.image {
  object-fit: cover;
}

@media (max-width: 768px) {
  .image-container-list .image{
    width: 5rem;
    border-radius: .2rem;
  }
}