.display-style-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 30%;
  height: 100%;
}

.noActive, .active-list, .active-grid {
  padding: 0.06rem;
  height: 1.5rem;
  width: 1.68rem;
  border-radius: .12rem;
}
.noActive {
  background-color: var(--background-color-main);
}
.active-list, .active-grid {
  background-color: var(--background-color-link);
}
.active-list path, .active-grid path {
  fill: var(--background-color-main);
}

@media (max-width: 768px) {
  .display-style-main {
    width: 4rem;
    height: 100%;
    flex-direction: column;
  }
  .noActive, .active-list, .active-grid {
    padding: 0.09rem;
    height: 1.56rem;
    width: 1.7rem;
    border-radius: .12rem;
  }
}