.episode-display {
  background: var(--background-color-alt);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  width: 14rem;
  height: 8rem;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  margin: 0 3rem 2rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.episode-display #episode{
  margin: 0;
}

.episode-display #name #url {
  font-weight: normal;
  font-style: normal;
  color: var(--font-color-main);
}
.episode-display #episode {
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-color-main);
}
.episode-display #air-date {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
  color: var(--font-color-alt);
}

#name {
  font-size: 16px;
  line-height: 19px;
}
#url {
  font-size: 11px;
  line-height: 13px;
}

@media (max-width: 768px) {
  .episode-display {
    width: 10rem;
    margin: .5rem .5rem;
    overflow-x: scroll;
  }
}
