.not-found-main {
  width: calc(100vw - 5rem);
  height: 100vh;
  background: var(--background-color-main);
  margin-left: 5rem;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#not-found-image {
  width: 50rem;
  height: auto;
  margin: 0 auto;
}
#not-found-message {
  font-weight: 300;
  font-size: 230%;
  font-style: oblique;
}

@media (max-width: 768px) {
  .not-found-main {
    width: 100vw;
    height: calc(100vh - 5rem);
    margin-top: 3.93rem;
    margin-left: 0;
    padding: 0 .2rem;
  }
  #not-found-image {
    width: 25rem;
    height: auto;
    margin: 0 auto;
  }
  #not-found-message {
    font-weight: 300;
    font-size: 90%;
    font-style: oblique;
  }
}