.controls-main {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.controls-sort {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.controls-main label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-color-main);
}

#sort {
  appearance: none;
  -prefixed-appearance: none;
  height: 2rem;
  width: 8rem;
  padding: .1rem .5rem;
  background-color: #E6EBF4;
  outline-style: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 2px solid #808292; 
  background-image: url("../../../images/panelControls/chevron.png");
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

@media (max-width: 768px) {
  .controls-main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .controls-sort {
    height: 70%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }
  .controls-main label {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    flex-grow: 1;
    color: var(--font-color-main);
  }
}
