.search-bar-main {
  display: flex;
  width: 40%;
  align-items: center;
}
.search-bar-input {
  height: 2.5rem;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: var(--font-color-alt);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding: .5rem 1rem;
  margin: 1rem 0 1rem 1rem;
  border-style: none;
}

#search {
  position: relative;
  left: -2.5rem;
}

@media (max-width: 768px) {
  .search-bar-main {
    width: 100%;
    align-items: center;
  }
  .search-bar-input {
    height: 3rem;
    width: 130%;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    padding: .2rem .5rem;
    margin: 1rem 1rem;
  }
}