.panel-control-main {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .panel-control-main {
    width: 90vw;
    margin: 1rem auto;
  }
}