.characters-main {
  width: calc(100vw - 5rem);
  height: 100vh;
  background: var(--background-color-main);
  margin-left: 5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.characters-main #division-line {
  width: 90vw;
  height: 0px;
  border: 1px solid var(--font-color-alt);
  margin: 0 auto;
}
.characters-main #loading {
  margin: 0 3rem 0 3rem;
}

.characters-display {
  display: flex;
}
.characters-display-list {
  flex-direction: column;
}
.characters-display-grid {
  padding-left: 2rem;
  flex-wrap: wrap;
}

.rick-and-morty-logo {
  width: 27rem;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .characters-main {
    width: 100vw;
    height: calc(100vh - 5rem);
    margin-top: 3.93rem;
    margin-left: 0;
    padding: 0 .2rem;
  }
  .characters-main #division-line {
    margin: 0 auto;
  }
  .characters-display-grid {
    padding-left: 0rem;
  }
  .rick-and-morty-logo {
    width: 25rem;
    height: auto;
  }
}
