.episodes-main {
  width: calc(100vw - 5rem);
  height: 100vh;
  background: var(--background-color-main);
  margin-left: 5rem;
  overflow-y: scroll;
}

.episodes-main #episodes-main-title {
  font-style: normal;
  line-height: 18px;
  padding-top: 5rem;
  padding-left: 5rem;
}

.episodes-display {
  height: 100%;
  display: flex;
  flex-flow: wrap;
  padding-top: 1rem;
  padding-left: 5rem;
}

@media (max-width: 768px) {
  .episodes-main {
    width: 100vw;
    height: calc(100vh - 5rem);
    margin-top: 3.93rem;
    margin-left: 0rem;
  }
  .episodes-main #episodes-main-title {
    padding: 0;
    padding-left: 2rem;
  }
  .episodes-display {
    padding: 0rem .5rem;
  }
}