.sidebar {
  position: absolute;
  width: 5rem;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: var(--background-color-alt);
  box-shadow: var(--box-shadow);
}

.sidebar-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  height: 283px;
  right: 94.44%;
  bottom: 67.22%;
}

.sidebar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
}
.sidebar-links .characters-logo {
  top: 63px;
}
.sidebar-links .episodes-logo {
  top: 123px;
}

.logo {
  width: inherit;
  height: auto;
}

.characters-logo {
  width: 41px;
  height: 46px;
}

/* Class used for NavLink to apply when a link is active */
.active {
  background-color: var(--background-color-link);
}
.active .episodes-logo path {
  fill: var(--background-color-alt);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100vw;
    height: auto;
  }
  .sidebar-items-container {
    flex-direction: row;
    height: 100%;
    top: 0;
  }
}