.information-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}
.information-top-grid {
  height: 30%;
  margin-top: 1rem;
}
.information-top p {
  margin: 0;
}
.information-top #name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--font-color-main);
}
.information-top #last-known-location {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: var(--font-color-alt);
}

@media (max-width: 768px) {
  .information-top {
    height: 30%;
  }
}