:root {
  /* BACKGROUND COLORS  */
  --background-color-main: #f9fafe;
  --background-color-alt: #ffffff;
  --background-color-link: #2c2e4a;
  /* FONT COLORS */
  --font-color-main: #2c2e4a;
  --font-color-alt: rgba(44, 46, 74, 0.72);
  /* BOX SHADOW */
  --box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.16);

  /* ELLIPSE - CHARACTERS - DEAD / ALIVE / UNKNOWN */
  --ellipse-color-dead: #db4241;
  --ellipse-color-alive: #90e26a;
  --ellipse-color-unknown:#6e757a;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
