.information-bottom p {
  margin: 0 0 0 0.75rem;
}
.information-bottom-list {
  height: 50%;
  display: grid;
  justify-items: start;
  align-content: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.information-bottom-grid {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 70%;
}
.information-bottom-fields {
  display: flex;
  justify-content: left;
  align-items: center;
}
.information-bottom-fields #images,
.information-bottom-fields #status-species,
.information-bottom-fields #num-episodes,
.information-bottom-fields #date-created {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--font-color-main);
}
.information-bottom-fields #num-episodes {
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  text-underline-position: under;
}
.information-bottom-fields-grid {
  margin: auto 0 auto 0;
}
.Alive circle {
  fill: var(--ellipse-color-alive);
}
.Dead circle {
  fill: var(--ellipse-color-dead);
}
.unknown circle {
  fill: var(--ellipse-color-unknown);
}
.information-bottom-fields .created {
  margin-left: -10px;
}
.information-bottom-fields .episode {
  margin-right: 7px;
}
.information-bottom-fields .ellipse {
  margin-right: 1px;
}

@media (max-width: 768px) {
  .information-bottom p {
    margin: 0 0 0 .3rem;
  }
  .information-bottom-list {
    height: 70%;
  }
  .information-bottom-fields #images,
  .information-bottom-fields #status-species,
  .information-bottom-fields #num-episodes,
  .information-bottom-fields #date-created {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
