.character-display {
  background: var(--background-color-alt);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.character-display-list {
  width: 90vw;
  height: 12rem;
  display: flex;
  margin: 2rem auto;
}
.character-display-grid{
  width: 20rem;
  height: 30rem;
  margin: 2rem 1rem;
}

@media (max-width: 768px) {
  .character-display-list {
    width: 96vw;
    margin: 1rem auto;
  }
  .character-display-grid{
    margin: 1rem auto;
  }
}